.footer {
    background-color: #7a5be0;
    color: white;
    text-align: center;
    padding: 20px 10px;
    font-weight: 600;

}


.footer-content {
    max-width: 1000px;
    margin: 0 auto;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: white;
    margin: 0 12px;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #ccc;
}